* {
    box-sizing: border-box;
}

body {
    /* background: url('wood2.jpg'); */
    background-color: rgb(235, 192, 113);
    color: black;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

.inline {
    width: max-content;
    display: inline;
}

.custom-file-upload {
    padding: 7px 12px 7px 12px;
    cursor: pointer;
}

input[type=checkbox] {
    height: 20px;
    width: 20px;
}

button, select, input, .dark {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 2px solid black;
	padding: 4px;
    font-size: 100%;
 	transition: background-color 0.2s;
	transition-timing-function: ease-in-out;
    scrollbar-color: black rgb(56, 56, 56);
}
select option {
    background-color: black;
}
select option:hover, select option:focus {
    background-color: rgba(0, 0, 0, 0.6);
}
input {
    height:33px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button, select {
    height: 33px;
}

button:hover, button:focus, select:hover, select:focus, input:hover, input:focus {
    background-color: rgba(0, 0, 0, 0.6);
}

.sq_btn {
    width: 33px;
}

.arrow_btn {
    width: 40px;
}

hr {
    border: 1px solid black;
    border-radius: 2px;
}

.box {
    float: left;
    height: 15px;
    width: 15px;
    border: 1px solid black;
    clear: both;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

#center_div {
    width: 100%;
    overflow: auto;
}


#board_and_history_div {
    width: max-content;
    overflow: auto;
    margin: auto;
}

#history_div {
    width: max-content;
    float: left;
    overflow-y: scroll;
    scrollbar-color: black rgba(0, 0, 0, 0.4);
    
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 2px solid black;
	padding: 4px;
    margin-left: 8px;
    font-size: 100%;
    height:50px;
}

#board_canvas_container {
    position: relative;
    overflow: auto;
    float: left;
}

.board_canvas {
    border: 2px solid black;
    position: absolute;
}

table, th, td {
    border: 2px solid black;
    text-align: center;
}

table {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 80%;
    table-layout: fixed;
}

.style-table {
    width: max-content;
}

dialog {
    width: max-content;
    padding: 16px 32px 16px 32px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}


.site-title {
    font-size: 1.5rem;
    margin: .5rem;
    width: max-content;
    display: flex;
    align-items: center;
}

.site-title img {
    width: 50px;
    border-radius: 50%;
}

.site-title * {
    width: max-content;
    float: left;
}

.site-title p {
    margin: 0 0 0 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.navbar-links {
    margin: 0 1rem 0 0;
    padding: 0;
    display: flex;
}

.navbar-links > :not(.dropdown), .dropdown > *, .dropdown_content > *{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    margin: 0;
    height: min-content;
}

.navbar-links a:hover, .navbar-links a:focus {
    background-color: #555;
}

.hamburger {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.dropdown {
    overflow: hidden;
}

.dropdown .dropdown_button {

}

.dropdown_button p {
    margin: 0;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content.right {
    right: 0;
    position: absolute;
}

.dropdown:hover .dropdown_content, .dropdown:focus .dropdown_content {
    display: block;
}

/* .navbar a:hover, .dropdown:hover .dropdown_button {
    background-color: red;
} */

.move_history p {
    margin-top: 8px;
    margin-bottom: 8px;
}

input[type=color] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 75px;
    height: 75px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
input[type=color]::-webkit-color-swatch {
    border: 2px solid black;
}
input[type=color]::-moz-color-swatch {
    border: 2px solid black;
}

@media (max-width: 700px) {
    .site-title p{
        display: none;
    }
}

@media (max-width: 500px) {
    .hamburger {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}