<div class="dialog" style="min-width: 400px; min-height: 300px;">
    <div class="dialog-body">
        <h1>About TCR</h1>
        <p>Version 0.9.1</p>
        <p><a href="https://discord.gg/sD9rSCc88h">Discord</a></p>
        <p><a href="https://drive.google.com/drive/folders/1yB_Elymo0vY33n6xQHWzukDGGkANqPQl?usp=drive_link">Documentation</a></p>
        <!-- <button mat-raised-button color="primary" (click)="openCredits()" style="margin-right: 1rem;">Credits</button> -->
        <mat-divider class="mb"></mat-divider>
        <h2>Credits</h2>
        <p>Created by Fylo</p>
        <p>Most sprites come from <a href="https://gitlab.com/zulban/chesscraft-creative-commons/-/tree/master/pieces">ChessCraft Creative Commons</a></p>
        <p>Hidetchi sprites by <a href="https://boardgamegeek.com/user/jureboga">jureboga</a>, adapted from Hidetchi's designs. <a href="https://boardgamegeek.com/filepage/241678/shogi-more-chess-hidetchis-internationalized-piece">Link</a></p>
        <p>SEA boards created by skyhistory</p>
        <p>All other default boards by Ristet or Fylo</p>
        <p>Board color palette by Z</p>
    </div>
    <div class="dialog-footer">
        <button mat-raised-button color="warn" (click)="closeModal()">Close</button>
    </div>
</div>